@charset "UTF-8";

*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   max-height:637px;
   
   
}
.cabecalho{
   margin: 0px;
 
}
.secao1{
    display:flex;
    align-items: center;
    gap: 14vw;

    background-color: #978f8f;
}
main{
    margin: auto;
    min-width: 400px;
    max-width: 1000px;
    margin-top: 30px;
    padding-bottom: 40px;
    background-color:#ffffff;
    box-shadow: 0px 0px  10px black;
    border-radius:10px;
    padding: 30px;
    margin-bottom: 20px;

}

.titulo1-cabecalho {
    font-size: 4.3vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: block;
   

}
.imagem-cabecalho {

    height: 160px;
    width: 95%;
}
.secao2{
    background-color:#20b2aa; 
    width: 50%;
    border-radius: 4px;
    gap: 1vw;
    min-width: 483px;
    max-width: 1360px;
}
.menu-cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
  
}
.menu{
    color: black;
    font-size: min(15px, 2.2vw);
    border: 0;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.menu:hover{
    background-color:#87f387;
    color: white
}
body {

background-color:white;
height: 100%;

}
.titulo-corpodapagina {
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-top: -10px;
    padding-bottom: 30px;
    text-align:center; 
  
}
.secao4{
    width: 100%;
    height: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   row-gap: 30px;
   column-gap: 10px;

}

.formulario{
    width: 500px;
    height: 30px; 
}

.rodape{

background-color:#20b2aa;
color: white;
text-align: center;
  
   
}
.rodape>p>a {
    color:white;
    font-weight: bolder;
    text-decoration: none;
}



.rodape a:hover{
    text-decoration: underline;
    color:black;

}

.botao {
font-size:1.2em;
background-color:#20b2aa; 
border: 0;
margin-top:  1.0em;
color: black;
padding: 0.1em 0.6em;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
font-family: Verdana, Geneva, Tahoma, sans-serif; 
font-weight: bold;
}

.botao:hover{
    background-color:rgb(135, 243, 135);
    color: white

}


