@import url(../styles/home-page.css);
@import url(../styles/cadastro.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color:white;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
