* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color:white;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h4, h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

.container-display-flex {
    display: flex;
}

#imagem-mydoctor, #imagem-mydoctor img {
    width: 100%;
    height: 280px;
}

.section-menu-cabecalho {
    background-color: #20b2aa;
    width: 50%;
    border-radius: 4px;
    gap: 1vw;
}

.menu-cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.item-menu {
    color: black;
    font-size: min(13.5px, 2.2vw);
    border: 0;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-menu:hover {
    background-color: #87f387;
    color: white
}

#navbar-mobile {
    display: none;
}

#saude {
    margin: 20px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

#saude p {
    padding: 0 10px;
}

#saude h4 {
    text-align: center;
    margin-bottom: 30px;
}

#imagem-saude {
    width: 400px;
}

#sobre {
    width: 100%;
}

#sobre div {
    max-width: 50%;
}

#sobre, #sobre div, #contato {
    padding: 0 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sobre p {
    padding-top: 10px;
}

#valores ul {
    margin-top: 10px;
}

#valores ul li {
    padding: 3px 0;
}

#contato {
    margin-top: 30px;
}

#rodape-home-page {
    width: 100%;
    bottom: 0;
    margin-top: 30px;
    font-size: 16.8px;
    padding: 5px;
    background-color: rgb(151, 143, 143);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rodape-home-page p {
    text-align: center;
}

#rodape-home-page a {
    font-weight: bold;
    color: white;
}

@media (max-width: 950px) {    
    .section-menu-cabecalho {
        display: none;
        width: 100%;
    }

    .menu-cabecalho {
        flex-direction: column;
    }

    .section-menu-cabecalho.ativo {
        display: block;
    }

    .item-menu {
        width: 100%;
        font-size: 16px;
    }

    #navbar-mobile {
        display: block;
        position: absolute;
        top: 30px;
        right: 10px;
    }
}

@media (max-width: 650px) {
    .container-display-flex {
        flex-direction: column;
    }

    #sobre div h5 {
        margin-top: 20px;
    }

    #sobre div {
        padding: 0;
    }

    #imagem-saude {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
