*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: white;
}

.secao1{
    display: flex;
    align-items: center;
    background-color: #978f8f;
}

.imgs0{
    left: 0px; /*posiciona a 0px para a esquerda*/
    top: 0px; /*posiciona a 0px para baixo*/
    height: 200px;
    width: 50%;
}

.tit_1{
    display: block;
    position: absolute;
    right: 70px;
    top: 30px;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu-geral{
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #20b2aa;
    border-radius: 4px;
}

.secao2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
}

.menu{
    color: black;
    font-size: 15px;
    border: 0;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu:hover{
    color: white;
    background-color: #87f387;
}

.secao3{
    width: 100%;
    height: auto;
}

.tit_2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 30px;
    text-align: left;
}

.tit_3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 16px;
    text-align: left;
}

input{
    width: 250px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 8px;
}

button{
    font-size: 1.0em;
    background-color: #20b2aa;
    border: 0;
    margin-top: 0.5em;
    color: black;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #87f387;
    color: white;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.tit_4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: auto;
    padding: 16px;
    text-align: left;
}

.flex-container{
    display: flex;
    float: right;
    transform: translateY(-100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 12px solid #978f8f;
    width: 48%;

    /*ALINHAMENTO DO EIXO PRINCIPAL*/
    justify-content: space-evenly;

    /*ALINHAMENTO DO EIXO EIXO CRUZADO*/
    align-items: center;
}

.flex-container>div{
    background-color: white;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}


.imgs1{
    width: 20%;
    height: 51px;
}

footer{
    background-color: #20b2aa;
    color:white;
    font-size: 0.5em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer>p>a{
    color: black;
    font-weight: bolder;
}

footer>p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
}

footer a:hover{
    text-decoration: underline;
    color: black;
}













