*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: white;
}

#imagem-mydoctor, #imagem-mydoctor img {
    width: 100%;
    height: 240px;
}

.secao2{
    background-color: #20b2aa;
    width: 50%;
    border-radius: 4px;
 }

.menu-cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.item-menu{
    color: black;
    font-size: min(13.5px, 2.2vw);
    border: 0;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-menu:hover{
    background-color: #87f387;
    color: white
}

.secao3{
    width: 100%;
    height: auto;
}

.tit_1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 10px 0 0 0;
    padding: 25px;
    text-align: center;
}

.tit_2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 12.5px;
    text-align: center;
}

#Busca{
    text-align: center;
    margin: 0;
}

#Busca2{
    text-align: center;
    margin: 0;
}

input{
    width: 300px;
    height: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.botoes{
    font-size: 1.0em;
    background-color: #20b2aa;
    border: 0;
    margin-top: 0.5em;
    color: black;
    padding: 0.4em 0.8em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    width: 80px;
    height: 35px;
}

.botoes:hover{
    background-color: #87f387;
    color: white;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 20px;
    text-align: center;
}

.tit_3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 12.5px;
    text-align: center;
}

#container{
    display: flex;
    position: relative;
    left: 300px;
    transform: translateY(-10%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 20px;
    margin: 70px 15px 15px 15px;
    border: 12px solid #978f8f;
    width: 45%;

    /*ALINHAMENTO DO EIXO PRINCIPAL*/
    justify-content: space-evenly;

    /*ALINHAMENTO DO EIXO CRUZADO*/
    align-items: center;
}

#container>div{
    text-align: center;
    line-height: 21px;
    font-size: 15px;
}

.imgs1{
    width: 20%;
    height: 51px;
}

footer{
    background-color: rgb(151, 143, 143);
    color:white;
    font-size: 0.5em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer>p>a{
    color: white;
    font-weight: bolder;
}

footer>p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
}

footer a:hover{
    text-decoration: underline;
    color: white;
}












